h1 {
  font-size: 18pt;
  letter-spacing: 0;
  color:red;
}
h2 {
  font-size: 14pt;
}
h3 {
  font-size: 12pt;
}
p {
  font-size: 10pt;
  line-height: 1.2;
  font-family: Helvetica;

}
h1, h2, h3 {
  color: #444;
}
.node .content .field-body p {
    color: black;
}
.node .content .field-body li {
  margin:0;
}
.node .content .field-body a {
  color: #444;
  text-decoration: none;
}
@page { margin: 8mm;}
blockquote {
  /* padding: .5em; */
  page-break-inside: avoid;
}

