/* THEME OPTIONS ************************** */

/* GLOBAL ********************************* */
/* ----- Body ------------------------ */
/* ----- Custom Fonts ---------------- */
/* ----- Text ------------------------ */
/* ----- Links ----------------------- */
/* ----- Lists ----------------------- */
/* ----- Tables ---------------------- */
/* ----- Forms ----------------------- */

/* HEADER ********************************* */
/* ----- Header Region --------------- */
#header {
  background-color: #004855;
}
#main-menu, 
#main-menu .container {
  background-color: #95a725;
  background-color: #96a540;
}
#main-menu .navbar-inner {
  padding-left:0;
  padding-right:0;
}
#main-menu .navbar .nav>li>a {
  color: #eee;
}
#main-menu .navbar .nav>.active>a {
  color: #fff;
}
#main {
  background-color: white;
}

@media (max-width: 767px) {
  #header {
    background-color: transparent;
  }
  #main-menu, #main-menu .container {
    background-color: transparent;
  }
  #main-menu .navbar .nav>li>a {
    color: #666;
  }
  #main-menu .navbar .nav>.active>a {
    color: #444;
  }
}




/* ----- Search Box ------------------ */
/* ----- Logo ------------------------ */
/* ----- Site Title and Slogan ------- */
.site-name a { color: #fefefe;}
@media (max-width: 767px) {
  .site-name a { color: #008da8;}
}

/* NAVIGATION ***************************** */
/* ----- Main Navigation ------------- */
/* ----- Secondary Navigation -------- */
/* ----- Breadcrumbs ----------------- */
/* ----- First Sidebar Menu Blocks --- */
/* ----- Second Sidebar Menu Blocks -- */
/* ----- Admin Menu ------------------ */
/* ----- Pager Nav ------------------- */

/* SIDEBARS ******************************* */

/* FOOTER ********************************* */
.site-footer {
  background: #004855 url('../images/wave.png') repeat-x scroll bottom center; 
}
/* ----- Fat Footer ------------------ */
/* CONTENT ******************************** */

/* VIEWS ********************************** */
/* ----- Search Results -------------- */

/* CONTAINERS ***************************** */
/* ----- Blocks ---------------------- */
/* ----- Wells ----------------------- */
/* ----- Callouts and Blockquotes ---- */
/* ----- Pullquote Text -------------- */

/* POSTCARD LAYOUTS ********************** */

/* IMAGES ******************************** */

/* ICONS ********************************* */

/* HELPER CLASSES ************************ */
/* ----- Style ----------------------- */
/* ----- Positioning ----------------- */
/* ----- Sizing ---------------------- */

/* GENERAL OVERRIDES ********************* */
/* ----- Bootstrap Overrides --------- */
.btn-fxblue,
.btn-fxblue:hover {
background-color: #007C94;
background-image: -moz-linear-gradient(top,#0092AD,#007C94);
background-image: -webkit-gradient(linear,0 0,0 100%,from(#0092AD),to(#007C94));
background-image: -webkit-linear-gradient(top,#0092AD,#007C94);
background-image: -o-linear-gradient(top,#0092AD,#007C94);
background-image: linear-gradient(to bottom,#0092AD,#007C94);
border-color: #007C94 #007C94 #017085;
/*border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);*/
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0092AD',endColorstr='#ff007C94',GradientType=0);
filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
color: white;
text-shadow: none;
}

.btn-fxolive,
.btn-fxolive:hover {
background-color: #A3AD1C;
background-image: -moz-linear-gradient(top,#B9C41F,#A3AD1C);
background-image: -webkit-gradient(linear,0 0,0 100%,from(#B9C41F),to(#A3AD1C));
background-image: -webkit-linear-gradient(top,#B9C41F,#A3AD1C);
background-image: -o-linear-gradient(top,#B9C41F,#A3AD1C);
background-image: linear-gradient(to bottom,#B9C41F,#A3AD1C);
border-color: #A3AD1C #A3AD1C #9EA81B;
/*border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);*/
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffB9C41F',endColorstr='#ff0A3AD1C',GradientType=0);
filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
color: white;
text-shadow: none;
}

/* ----- Field Collection Overrides -- */
/* ----- Field Label Overrides ------- */

/* ADMINISTRATION ************************ */
/* ----- Admin ----------------------- */
/* ----- User Block ------------------ */

/* MEDIA QUERIES ************************* */
/* ----- Responsive ------------------ */
/* ----- Print ----------------------- */