/* THEME OPTIONS ************************** */

.field-body h2,h3,h4 {
  clear:both;
}
.field-body p + h2,
.field-body blockquote + h2 {
  padding-top:32px;
  border-top: 1px solid #ddd;
}
.ds-2col-stacked-fluid .field-left-column,
.ds-2col-stacked-fluid .field-right-column {
  margin-right: 20px;
}


/* GLOBAL ********************************* */
/* ----- Body ------------------------ */
/* ----- Custom Fonts ---------------- */
/* ----- Text ------------------------ */
/* ----- Links ----------------------- */
/* ----- Lists ----------------------- */
/* ----- Tables ---------------------- */
/* ----- Forms ----------------------- */

/* HEADER ********************************* */
/* ----- Header Region --------------- */

/* ----- Search Box ------------------ */
/* ----- Logo ------------------------ */
/* ----- Site Title and Slogan ------- */

/* NAVIGATION ***************************** */
/* ----- Main Navigation ------------- */
/* ----- Secondary Navigation -------- */
/* ----- Breadcrumbs ----------------- */
/* ----- First Sidebar Menu Blocks --- */
/* ----- Second Sidebar Menu Blocks -- */
/* ----- Admin Menu ------------------ */
/* ----- Pager Nav ------------------- */

/* SIDEBARS ******************************* */

/* FOOTER ********************************* */

/* ----- Fat Footer ------------------ */

/* CONTENT ******************************** */
/* VIEWS ********************************** */
/* ----- views accordion -------------- */
/* ----- Search Results -------------- */

/* CONTAINERS ***************************** */
/* ----- Blocks ---------------------- */
/* ----- Wells ----------------------- */
/* ----- Callouts and Blockquotes ---- */
/* ----- Pullquote Text -------------- */

/* POSTCARD LAYOUTS ********************** */

/* IMAGES ******************************** */

@media screen and (min-width: 480px){
  .field-body img {
    float: right;
    margin: 0 0 20px 20px;
  }
}
/* manual class to force clearing for figures */
.field-body img.clear-image,
.field-body blockquote img {
  float:left;
  clear: both;
  margin: 10px 0 20px 0;
}
blockquote {
  border-left: 4px solid #AEC741;
}
blockquote img + p {
  clear:both;
}
.pullquote, .pullquote-large, blockquote > p {
  padding-left: 5px;
  text-indent: -7px;
}

h3, h4 {
  font-weight: 400;
}
#sidebar-first .block ul li, #block-menu-block-2 ul li {
list-style-image: none;
list-style-type: none;
line-height: 1.5;
}
.block.flat-list ul, .block.flat-list ul li {
 margin: 0 ;
}

.block ul li.active {
list-style-image: none;
list-style-type: disc;
color:#004262;
}
.block ul li.active a {
  color:#004262;
}
.block ul li.active li a {
  color:#08c;
}
.block ul li.collapsed {
/*list-style-image: url(../images/lists/menu-collapsed.png);*/
/*font-weight: 800;*/
list-style-type: square;
color: #8ecae8;

}


/* ICONS ********************************* */

/* HELPER CLASSES ************************ */
/* ----- Style ----------------------- */
/* ----- Positioning ----------------- */
/* ----- Sizing ---------------------- */

/* GENERAL OVERRIDES ********************* */
/* ----- Bootstrap Overrides --------- */
/* ----- Field Collection Overrides -- */
/* ----- Field Label Overrides ------- */

/* ADMINISTRATION ************************ */
/* ----- Admin ----------------------- */
/* ----- User Block ------------------ */

/* MEDIA QUERIES ************************* */
/* ----- Responsive ------------------ */
/* ----- Print ----------------------- */