/* THEME OPTIONS ************************** */
#content-body .field-name-body ul {
  margin-bottom: 24px;
}
#content-body .field-name-body li {
  line-height: 2.4;
}

h1,h2,h3,h4,h5 {
  font-style:normal;
  font-weight:normal;
}
/* GLOBAL ********************************* */
/* ----- Body ------------------------ */
/* ----- Custom Fonts ---------------- */
/* ----- Text ------------------------ */
/* ----- Links ----------------------- */
/* ----- Lists ----------------------- */
/* ----- Tables ---------------------- */
/* ----- Forms ----------------------- */

/* HEADER ********************************* */
/* ----- Header Region --------------- */

/* ----- Search Box ------------------ */
/* ----- Logo ------------------------ */
/* ----- Site Title and Slogan ------- */

/* NAVIGATION ***************************** */
/* ----- Main Navigation ------------- */
/* ----- Secondary Navigation -------- */
/* ----- Breadcrumbs ----------------- */
/* ----- First Sidebar Menu Blocks --- */
/* ----- Second Sidebar Menu Blocks -- */
/* ----- Admin Menu ------------------ */
/* ----- Pager Nav ------------------- */

/* SIDEBARS ******************************* */

/* FOOTER ********************************* */

/* ----- Fat Footer ------------------ */

/* CONTENT ******************************** */
/* VIEWS ********************************** */
/* ----- views accordion -------------- */
/* ----- Search Results -------------- */

/* CONTAINERS ***************************** */
/* ----- Blocks ---------------------- */
/* ----- Wells ----------------------- */
/* ----- Callouts and Blockquotes ---- */
/* ----- Pullquote Text -------------- */

/* POSTCARD LAYOUTS ********************** */

/* IMAGES ******************************** */

/* ICONS ********************************* */

/* HELPER CLASSES ************************ */
/* ----- Style ----------------------- */
/* ----- Positioning ----------------- */
/* ----- Sizing ---------------------- */

/* GENERAL OVERRIDES ********************* */
/* ----- Bootstrap Overrides --------- */
/* ----- Field Collection Overrides -- */
/* ----- Field Label Overrides ------- */

/* ADMINISTRATION ************************ */
/* ----- Admin ----------------------- */
/* ----- User Block ------------------ */

/* MEDIA QUERIES ************************* */
/* ----- Responsive ------------------ */
/* ----- Print ----------------------- */