/* THEME OPTIONS ************************** */
body.front #block-menu-menu-new-students {
  margin-top:-36px;
  padding: 12px 16px 16px 16px;
}


/* GLOBAL ********************************* */
/* ----- Body ------------------------ */
/* ----- Custom Fonts ---------------- */
/* ----- Text ------------------------ */
/* ----- Links ----------------------- */
/* ----- Lists ----------------------- */
/* ----- Tables ---------------------- */
/* ----- Forms ----------------------- */

/* HEADER ********************************* */
/* ----- Header Region --------------- */
#admin-shortcuts li {
  float: right;
}
/* ----- Search Box ------------------ */
/* ----- Logo ------------------------ */
/* ----- Site Title and Slogan ------- */

/* NAVIGATION ***************************** */
/* ----- Main Navigation ------------- */
#content, #sidebar-first, #sidebar-second {
  margin-top: 32px;
}
/* ----- Secondary Navigation -------- */
/* ----- Breadcrumbs ----------------- */
/* ----- First Sidebar Menu Blocks --- */
body.front #block-menu-menu-new-students {
  background-color: #efefef;
}
/* ----- Second Sidebar Menu Blocks -- */
/* ----- Admin Menu ------------------ */
/* ----- Pager Nav ------------------- */

/* SIDEBARS ******************************* */
/*
.sidebar .nav {
margin-left: 0;
}
#sidebar-first ul.menu li,
#footer ul.menu li.leaf {
  list-style-image: none;
  list-style-type: none;
}
#sidebar-first ul.menu li ul li.leaf {
  list-style-image: none;
  list-style-type: disc;
}
#sidebar-first ul.menu li ul li.collapsed {
  list-style-image: url("../../misc/menu-leaf.png");
  list-style-type: none;
}
#sidebar-first ul.menu li {
margin: 0;
}
#sidebar-first ul.menu li {
margin: 0.5em;
}
*/
ul li.leaf {
  list-style-image: none;
  list-style-type: disc;
}
#footer ul.menu li.leaf {
  list-style-image: none;
  list-style-type: none;
}
/* FOOTER ********************************* */
.site-footer {
  margin-bottom:0;
  padding-top: 24px;
  padding-bottom: 10px;
  min-height: 100px;
}
/* ----- Fat Footer ------------------ */

/* CONTENT ******************************** */
body.front #focus .menu.nav {
  margin:0;
}
@media (min-width: 768px) {
  body.front #focus {
    background: #fff url('../images/the_hills_clouds_fade50.png') repeat-x scroll top center; 
  }
}


/* VIEWS ********************************** */
/* ----- Search Results -------------- */

/* CONTAINERS ***************************** */
/* ----- Blocks ---------------------- */
#block-menu-menu-home-actions {
  margin-top: -12px;
}
#block-menu-menu-home-actions .btn {
 margin-bottom: 12px;
}
/* ----- Wells ----------------------- */
/* ----- Callouts and Blockquotes ---- */
/* ----- Pullquote Text -------------- */

/* POSTCARD LAYOUTS ********************** */

/* IMAGES ******************************** */

/* ICONS ********************************* */

/* HELPER CLASSES ************************ */
/* ----- Style ----------------------- */
/* ----- Positioning ----------------- */
/* ----- Sizing ---------------------- */

/* GENERAL OVERRIDES ********************* */
/* ----- Bootstrap Overrides --------- */
/* ----- Field Collection Overrides -- */
/* ----- Field Label Overrides ------- */

/* ADMINISTRATION ************************ */
/* ----- Admin ----------------------- */
/* ----- User Block ------------------ */

/* MEDIA QUERIES ************************* */
/* ----- Responsive ------------------ */
/* ----- Print ----------------------- */