/* THEME OPTIONS ************************** */

/* GLOBAL ********************************* */
/* ----- Body ------------------------ */
/* ----- Custom Fonts ---------------- */
/* ----- Text ------------------------ */
/* ----- Links ----------------------- */
/* ----- Lists ----------------------- */
/* ----- Tables ---------------------- */


/* ----- Forms ----------------------- */

/* HEADER ********************************* */
/* ----- Header Region --------------- */

/* ----- Search Box ------------------ */
/* ----- Logo ------------------------ */
/* ----- Site Title and Slogan ------- */

/* NAVIGATION ***************************** */
/* ----- Main Navigation ------------- */
/* ----- Secondary Navigation -------- */
/* ----- Breadcrumbs ----------------- */
/* ----- First Sidebar Menu Blocks --- */
/* ----- Second Sidebar Menu Blocks -- */
/* ----- Admin Menu ------------------ */
/* ----- Pager Nav ------------------- */

/* SIDEBARS ******************************* */

/* FOOTER ********************************* */

/* ----- Fat Footer ------------------ */

/* CONTENT ******************************** */
/* VIEWS ********************************** */
div.view-visual-menu,
div.view-visual-menu .item-list,
div.view-visual-menu ul {
  display: inline-block;
  clear:both;
  width: 100%;
  max-width:700px;

}

.view-visual-menu ul li {
  list-style: none;
  float:left;
  margin:0 10px 5px 0; 
  width: 200px;
}
#content .view-visual-menu img {
  float: left;
  margin:0;
  /*filter: 
  filter: gray;
  -webkit-filter: grayscale(1);
}
#content .view-visual-menu img:hover {
  filter: none;
  -webkit-filter: grayscale(0); */
}

.view-visual-menu .label {
  position:relative;
  background-color: #222;
  background-color: #004855;
  padding: 10px;
  width: 180px;
  max-width:100%;
  bottom: 6px;
}
.view-visual-menu .label a {
  color: #fff;
  font-size: 1.2em;
  font-weight: normal;
}
/* ----- views accordion -------------- */
/* ----- Search Results -------------- */

/* CONTAINERS ***************************** */
/* ----- Blocks ---------------------- */
/* ----- Wells ----------------------- */
/* ----- Callouts and Blockquotes ---- */
/* ----- Pullquote Text -------------- */

/* POSTCARD LAYOUTS ********************** */

/* IMAGES ******************************** */

/* ICONS ********************************* */

/* HELPER CLASSES ************************ */
/* ----- Style ----------------------- */
/* ----- Positioning ----------------- */
/* ----- Sizing ---------------------- */

/* GENERAL OVERRIDES ********************* */
/* ----- Bootstrap Overrides --------- */
/* ----- Field Collection Overrides -- */
/* ----- Field Label Overrides ------- */

/* ADMINISTRATION ************************ */
/* ----- Admin ----------------------- */
/* ----- User Block ------------------ */

/* MEDIA QUERIES ************************* */
/* ----- Responsive ------------------ */
/* ----- Print ----------------------- */